beautifulsoup4
wordcloud
contractions
pandas
tweepy
seaborn
matplotlib
streamlit
certifi
chardet
click
cssselect
dateparser
decorator
feedfinder2
feedparser
filelock
idna
jieba3k
joblib
lxml
networkx
newsapi-python
newspaper3k
nltk
numpy
Pillow
python-dateutil
pytz
PyYAML
regex
requests
requests-file
sgmllib3k
six
soupsieve
tinysegmenter
tldextract
tqdm
tzlocal
urllib3
vaderSentiment
